doctype html
html
  head
    title Home Page
    link(rel='stylesheet' href='https://bootswatch.com/4/materia/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
   nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    a.navbar-brand(href='/') Articles-Express
  
     ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      if user    
       li.nav-item
         a.nav-link(href='/articles/add') Add Article
     ul.nav.navbar-nav.navbar-right
      if user
       li
        a(href='users/logout') Logout
      else
       li 
        a(href='/users/register') Register
       li 
        a(href='/users/login') Login 
  .container
    != messages('message', locals)
    block content
     br
     hr
     footer
      p Copyright &copy; 2020;
  script(src='/js/main.js')
   